body {
    background-color: black;
    color: white;
    font-family: Comfortaa, cursive;
}

/* Everything Related to Title */
.titleDiv {
    font-size: 1.5rem;
    text-align: center;
}

.aquaText {
    color:aqua;
}

.notice {
    padding-top: 2vh;
    text-align: center;
}

.author {
    padding-top: 2vh;
    text-align: center;
}

a:link {
    color: aqua;
}
a:visited {
    color: rgb(0, 183, 255);
}
/* Search Div and input field */
.searchDiv {
    font-size: 1rem;
    margin: auto;
    margin-top: 3vh;
    width: 60vw;
    text-align: center;
    /* border: 3px solid red; */
}

.searchInput {
    height: 2vh;
    outline: none;
    border: none;
    
}

.searchButton {
    size: 2vw;
    outline: none;
    border: none;
    width: 30;
    height: 2.2vh;
    background-color: black;
    color: white;
    cursor: pointer;
}

/* Actual Lyrics Div */
.lyricsDiv {
    margin: auto;
    margin-top: 1vw;
    width: 70vw;
    text-align: left;
    /* border: 3px solid red; */
}

.songName {
    font-size: 30px;
    /* font-size: 1.7vw; */
}

/* p {
    font-size: 1vw;
} */